@font-face {
    font-family: 'SF ProText';
    font-style: normal;
    font-weight: 200;
    src: local('SF Pro Text Light'), url('~@fonts/SF-Pro-Text/SF-Pro-Text-Light.otf') format('opentype');
}

@font-face {
    font-family: 'SF ProText';
    font-style: normal;
    font-weight: 400;
    src: local('SF Pro Text'), url('~@fonts/SF-Pro-Text/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF ProText';
    font-style: normal;
    font-weight: 500;
    src: local('SF Pro Text Medium'), url('~@fonts/SF-Pro-Text/SF-Pro-Text-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'SF ProText';
    font-style: normal;
    font-weight: 600;
    src: local('SF Pro Text Semibold'), url('~@fonts/SF-Pro-Text/SF-Pro-Text-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'SF ProText';
    font-style: normal;
    font-weight: 700;
    src: local('SF Pro Text Bold'), url('~@fonts/SF-Pro-Text/SF-Pro-Text-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'SF ProText';
    font-style: normal;
    font-weight: 900;
    src: local('SF Pro Text Heavy'), url('~@fonts/SF-Pro-Text/SF-Pro-Text-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'SF ProText';
    font-style: italic;
    font-weight: 200;
    src: local('SF Pro Text Light'), url('~@fonts/SF-Pro-Text/SF-Pro-Text-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'SF ProText';
    font-style: italic;
    font-weight: 400;
    src: local('SF Pro Text'), url('~@fonts/SF-Pro-Text/SF-Pro-Text-RegularItalic.otf') format('opentype');
}

@font-face {
    font-family: 'SF ProText';
    font-style: italic;
    font-weight: 500;
    src: local('SF Pro Text Medium'), url('~@fonts/SF-Pro-Text/SF-Pro-Text-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'SF ProText';
    font-style: italic;
    font-weight: 600;
    src: local('SF Pro Text Semibold'), url('~@fonts/SF-Pro-Text/SF-Pro-Text-SemiboldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'SF ProText';
    font-style: italic;
    font-weight: 700;
    src: local('SF Pro Text Bold'), url('~@fonts/SF-Pro-Text/SF-Pro-Text-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'SF ProText';
    font-style: italic;
    font-weight: 800;
    src: local('SF Pro Text Heavy'), url('~@fonts/SF-Pro-Text/SF-Pro-Text-HeavyItalic.otf') format('opentype');
}
